core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
os.environ.setdefault("DATABASE_URL", "postgres://uxsxhyvh:mDGKyIhQahETyhEww4q8hhgXWO8kz6Y2@snuffleupagus.db.elephantsql.com/uxsxhyvh")